@model Waterworks.Models.View.Contract.LiabilityLimitViewModel
<!-- Modal -->
<div class="modal fade" id="attach-watermeter1" tabindex="-1" role="dialog" aria-labelledby="attachClientLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attachClientLabel">
                    Dodaj granicę odpowiedzialności
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form asp-action="LiabilityLimitCreate">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="Typ"></label>
                        <select class="form-control" asp-for="Typ" id="exampleFormControlSelect1">
                            @foreach (string type in ViewBag.types)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                        <span asp-validation-for="Typ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nazwa"></label>
                        <input asp-for="Nazwa" class="form-control" />
                        <span asp-validation-for="Nazwa" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>