@model Waterworks.Models.View.WaterMeter.ChangeWaterMeterViewModel
<!-- Modal -->
<div class="modal fade" id="attach-client" tabindex="-1" role="dialog" aria-labelledby="attachWaterMeterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="attachWaterMeterLabel">
                    Wymień wodomierz
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form asp-controller="WaterMeter" asp-action="ChangeWaterMeter">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="NrWodomierza"></label>
                        <input asp-for="NrWodomierza" value="@Model.NrWodomierza" class="form-control" readonly />
                        <span asp-validation-for="NrWodomierza" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypWodomierza"></label>
                        <input asp-for="TypWodomierza" value="@Model.TypWodomierza" class="form-control" readonly />
                        <span asp-validation-for="TypWodomierza" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NrNowegoWodomierza"></label>
                        <input asp-for="NrNowegoWodomierza" class="form-control" />
                        <span asp-validation-for="NrNowegoWodomierza" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="IdObiektu" class="form-control" value="@(Model.IdObiektu)" type="hidden" />
                        <span asp-validation-for="IdObiektu" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" data-save="modal">Zapisz</button>
            </div>
        </div>
    </div>
</div>